body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d2127;
    color: #fff;
}
h1 {
    color: #f39c12;
    margin: 0 0 0 8px;
    padding-top: 8px;
}

.bar {
    background-color: #464b55;
    padding: 10px;
    display: flex;
    align-items: center;
}
.logo {
    height: 50px;
    margin-right: 50px;
}